<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Keeping up with Cass</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/stylish-portfolio.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    
</head>
<body>

<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top" onclick=$("#menu-close").click();>Keeping Up with Cass</a>
            </li>
            <li>
                <a href="/" onclick=$("#menu-close").click();>Home</a>
            </li>
            {%if session%}
            <li>
                <a href="/roster" onclick=$("#menu-close").click();>Rosters</a>
            </li>
            {% endif %}
            {%if session%}
            <li>
                <a href="/admin" onclick=$("#menu-close").click();>Admin</a>
            </li>
            {% endif %}
            <li>
                <a href="{{url_for('login')}}" onclick=$("#menu-close").click();>Sign In</a>
            </li>
            {%if session%}
            <li>
                <a href="{{url_for('logout')}}" onclick=$("#menu-close").click();>Logout</a>
            </li>
            {%endif%}
        </ul>
    </nav>
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Keeping up with Cass</h1>
            <h3>A Website for <em>Keeping up with Cass</em></h3>
        </div>
    </header>
    <hr class="small">
        <p class="text-muted">Powered by Raspberry Pi - Justin Middler 2016</p>
            </div>
                </div>
                    </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='navbar.js') }}"></script>
</body>
</html>