<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rosters</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/stylish-portfolio.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
    <div class="jumbotron">
    <div class="container">
       <h1><em>Rosters</em></h1>
    </div>
</div>
    <table class="table table-hover table-inverse">
    <thead>
    <tr>
      <th>Day of Week</th>
      <th>Date</th>
      <th>Start and End time</th>
      <th>Notes for day</th>
    </tr>
  </thead>
  <tbody>
    {% for r in rosters %}
    <tr>
      <td>{{r.dayofweek}}</td>
      <td>{{r.date}}</td>
      <td>{{r.startandendtime}}</td>
      <td>{{r.notes}}</td>
      {% endfor %}
    </tr>
  </tbody>
</table>
</body>